*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.slider-container{
    margin: 10px auto;
    width: 800px;
    height: 250px;
    position: relative;
}
.slider-container img{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 800px;
    height: 250px;
}
.slider-container img.active{
    opacity: 1;
}
.slider-container .slide-number{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 8px;
}
.slider-controls{
    width: 800px;
    margin: auto;
    overflow: hidden;
}
.slider-controls .prev,
.slider-controls .next{
    background-color: rgb(165, 42, 42);
    color: aliceblue;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
    width: 20%;           /*20% for prev & 20% for next = 40%*/
}
.slider-controls .prev{
    float: left;
}
.slider-controls .next{
    float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled{
    background-color: rgb(163, 133, 133);;
    cursor: no-drop;
}
.slider-controls .indicators{
    width: 60%;            /*60% for ul*/
    float: left;
}
.slider-controls .indicators ul{
    list-style: none;
    margin: 0;
    text-align: center;
}
.slider-controls .indicators ul li{
    display: inline-block;
    background-color: burlywood;
    color: black;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
}
.slider-controls .indicators ul li.active{
    background-color: brown;
    color: white;
}